.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app__content {
    display: flex;
    flex: 1 1 auto;
}

.app .labels-panel {
    flex: 0 0 200px;
}

.app .messages {
    flex: 1 1 auto;
}