body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12px;
    color: #222;
}

table {
    border-collapse: collapse;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4 {
    margin: 0;
}

input {
    margin: 0;
}